.contato{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cinfo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
}

.ctitulo{  
  font-weight: 600;
  font-size: 35px;
  margin-top: 20px;
}

.csubtitulo{
  font-weight: 500;
  font-size: 25px;
  color: #98FB98;
  margin-top: 15px;
}

.cparagrafo{
  font-weight: 500;
  font-size: 20px;
}

.wimg{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.wpp{  
  display: flex;
  width: 10%;
  transition: transform 0.3s ease-in-out;
  margin: 15px;
}

.a{
  display: flex;
}

.wpp:hover {
  transform: scale(1.1);
}


@media (max-width: 1000px){
  .contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .cinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
  }
  .wimg{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;
  }
  .wpp{    
    width: 55px;
  }
}